{% extends 'layout.html' %}

{% block css %}
<link href="{{ url_for('static', filename='styles/index.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="contenu">
    <h1>{{title}}</h1>
    <div class="formulaire">
        <form method="POST" onsubmit="return validerFormulaire()" action="/adopter">
            <label for="recherche">Rechercher l'animal que vous désirez : </label>
            <input id="recherche" type="text" name="recherche" placeholder="minimum 3 caractères">
            <button type="submit" name="recherche" class="link-button">
                chercher
            </button>
            <span class="erreur">
                {% for e in erreurs["recherche"] %}
                <li>{{e}}</li>
                {% endfor %}
            </span>
        </form>
    </div>
    <div class="animaux-liste">
        {% for animal in animaux %}
        <div class="carte">

            <p><span>Nom :</span> {{animal["nom"]}}</p>
            <p><span>Espece:</span> {{animal["espece"]}}</p>
            <p><span>Race :</span> {{animal["race"]}}</p>
            <p><span>Age :</span> {{animal["age"]}}</p>

            {% set variable=animal["id"] %}
            <form method="GET" action="{{ url_for('animal' , animal_id = variable) }}">
                <button type="submit" name="identifiant" value={{variable}} class="link-button">
                    Consulter
                </button>
            </form>

        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}